<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sara.D_marT"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />

    <application
        android:icon="@drawable/logot"
        android:label="D_Mart">// android:theme="@android:style/Theme.Black">
        <activity
            android:name=".D_marTActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ProductsActivity"/>
        <activity
            android:name="TabsActivity"/>
        <activity
            android:name="Reg"/>
        <activity
            android:name="Search"/>
        <activity
            android:name="Edprofile"/>
        <activity
            android:name="Offer"/>
        <activity
            android:name="DynamicTabActivity"/>
        <activity
            android:name="View_Pro"/>
        <activity
            android:name="Details"/>
        <activity
            android:name="Admin"/>
        <activity
            android:name="Del"/>
        <activity
            android:name="Salesman1"/>
        <activity
            android:name="Salesman2"/>
        <activity
            android:name="Delivery_Update"/>
        
        <activity
            android:name="Confirmation"/>
        <activity 
		    android:name="Payment"></activity>      
    </application>

</manifest>